.flag-detail-page .border-countries-container {
  display: flex;
  align-items: flex-start;
}
.flag-detail-page .border-countries-container .countries-label {
  font-weight: 600;
  white-space: nowrap;
  margin-right: 0.45rem;
  margin-top: 4px;
}

.flag-detail-page .border-countries-container .countries {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.75rem;
  column-gap: 0.5rem;
}

.flag-detail-page .border-countries-container a:any-link {
  font-size: 14px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  padding: 0.35rem 1.5rem;
  outline-color: black;
}

.flag-detail-page .border-countries-container a.light-mode {
  color: black;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.flag-detail-page .border-countries-container a.dark-mode {
  color: white;
  box-shadow: 0 0 3px white;
}

.flag-detail-page .border-countries-container a.light-mode:hover,
.flag-detail-page .border-countries-container a.light-mode:focus-visible {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
}

.flag-detail-page .border-countries-container a.light-mode:active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.flag-detail-page .border-countries-container a.dark-mode:hover,
.flag-detail-page .border-countries-container a.dark-mode:focus-visible {
  background-color: rgba(255, 255, 255, 0.025);
}

.flag-detail-page .border-countries-container a.dark-mode:active {
  background-color: rgba(255, 255, 255, 0.075);
}

.flag-detail-page
  .border-countries-container
  .countries
  .none-border-countries {
  margin-top: 4px;
  position: relative;
  right: 10px;
}

@media screen and (max-width: 1365px) {
  .flag-detail-page .border-countries-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .flag-detail-page .border-countries-container .countries-label {
    font-size: 32px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2.1rem;
  }

  .flag-detail-page .border-countries-container .countries {
    width: 100%;
    align-items: center;
    row-gap: 1.5rem;
    column-gap: 1.2rem;
    white-space: nowrap;
  }

  .flag-detail-page .border-countries-container a:any-link {
    font-size: 24px;
    border-radius: 5px;
    padding: 0.75rem 2rem;
    display: grid;
    place-content: center;
  }

  .flag-detail-page
    .border-countries-container
    .countries
    .none-border-countries {
    margin-top: 0;
    right: 0;
    bottom: 0.25rem;
  }
}

@media screen and (max-width: 555px) {
  .flag-detail-page .border-countries-container .countries-label {
    font-size: 24px;
    margin-bottom: 1.75rem;
  }

  .flag-detail-page .border-countries-container .countries {
    row-gap: 1rem;
    column-gap: 1rem;
  }

  .flag-detail-page .border-countries-container a:any-link {
    font-size: 18px;
    border-radius: 5px;
    width: max-content;
    min-width: 140px;
    padding: 0.5rem 1rem;
  }
}
