.flag-container {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, 264px);
  row-gap: 4.575rem;
  column-gap: 4.666rem;
  justify-content: center;
}

.flag-container-isLoading-fetchError {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.isLoading,
.fetchError {
  font-size: 1.5rem;
  letter-spacing: 0.42px;
  text-shadow: 1px 1px 1px black;
  position: relative;
  bottom: 3rem;
}

.fetchError {
  color: red;
  font-weight: 600;
}
