.card .card__text {
  background-color: transparent;
  padding: 1.5rem 1.5rem 2.85rem;
  border-radius: 0 0 6px 6px;
}

.card .card__text h2 {
  font-size: 18px;
  letter-spacing: -0.12px;
  margin-bottom: 1rem;
}

.card .card__text p {
  font-size: 14px;
  margin-bottom: 0.325rem;
}

.card .card__text p .highlight {
  font-weight: 600;
}

.card .card__text p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .card .card__text {
    padding: 3.15rem 3rem 5.75rem;
    border-radius: 0 0 11px 11px;
  }

  .card .card__text h2 {
    font-size: 36px;
    margin-bottom: 2rem;
  }

  .card .card__text p {
    font-size: 28px;
    margin-bottom: 0.6rem;
  }
}
