.content {
  width: 100%;
  max-width: 3840px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 2.9rem 5rem 2.75rem;
  z-index: 1;
}

.content.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.content.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

.content .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.9rem;
}
