.App .main {
  width: 100%;
  max-width: 3840px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  padding: 2.9rem 5rem 2.75rem;
  z-index: 1;
}

.App .main.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.App .main.dark-mode {
  background-color: hsl(207, 26%, 17%);
}
