.flag-detail-page {
  padding: 2.9rem 5rem 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.flag-detail-page.light-mode {
  background-color: white;
}

.flag-detail-page.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

.flag-detail-page .img-and-text-container {
  width: 100%;
  max-width: 1366px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6.77px;
}

.flag-detail-page .img-and-text-container .text-container {
  animation-name: textContainerOpacity;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.flag-detail-page .img-and-text-container .text-container.light-mode {
  color: black;
}

.flag-detail-page .img-and-text-container .text-container.dark-mode {
  color: white;
}

@keyframes textContainerOpacity {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flag-detail-page .img-and-text-container p {
  letter-spacing: -0.1px;
  margin-bottom: 0.65rem;
}

.flag-detail-page .img-and-text-container .highlight {
  font-weight: 600;
}

.flag-detail-page .img-and-text-container .text-container .info-container {
  display: flex;
  justify-content: flex-start;
  gap: 9rem;
  margin-bottom: 4.1rem;
}
