.flag-detail-page {
  padding: 5rem 5rem 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.flag-detail-page.light-mode {
  background-color: white;
}

.flag-detail-page.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

.flag-detail-page .img-and-text-container {
  width: 100%;
  max-width: 1366px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 6.77px;
  padding-bottom: 5rem;
}

.flag-detail-page .img-and-text-container .text-container {
  animation-name: textContainerOpacity;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.flag-detail-page .img-and-text-container .text-container.light-mode {
  color: black;
}

.flag-detail-page .img-and-text-container .text-container.dark-mode {
  color: white;
}

@keyframes textContainerOpacity {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flag-detail-page .img-and-text-container p {
  letter-spacing: -0.1px;
  margin-bottom: 0.65rem;
}

.flag-detail-page .img-and-text-container .highlight {
  font-weight: 600;
}

.flag-detail-page .img-and-text-container .text-container .info-container {
  display: flex;
  justify-content: flex-start;
  gap: 9rem;
  margin-bottom: 4.1rem;
}

@media screen and (max-width: 1365px) {
  .flag-detail-page {
    padding: 5rem 3.5rem 8rem;
  }

  .flag-detail-page .img-and-text-container {
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
    padding-bottom: 0;
  }

  .flag-detail-page .img-and-text-container p {
    font-size: 28px;
    margin-bottom: 1.65rem;
  }

  .flag-detail-page .img-and-text-container .text-container {
    width: 100%;
  }

  .flag-detail-page .img-and-text-container .text-container .info-container {
    flex-direction: column;
    gap: 3.9rem;
    margin-bottom: 3.5rem;
  }
}

@media screen and (max-width: 555px) {
  .flag-detail-page {
    padding: 2.25rem 2rem 4.5rem;
  }

  .flag-detail-page .img-and-text-container p {
    font-size: 18px;
    margin-bottom: 1.25rem;
  }

  .flag-detail-page .img-and-text-container .text-container .info-container {
    flex-direction: column;
    gap: 1.75rem;
    margin-bottom: 2.25rem;
  }
}
