.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.45rem 4rem 1.6rem;
  color: black;
  background-color: white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header h1 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.12px;
  margin-inline: 1rem;
}

.header button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-inline: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header button svg {
  margin-right: 0.5rem;
}
