.header {
  padding: 1.45rem 3.75rem 1.6rem 4rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.header.light-mode {
  background-color: white;
  color: black;
}

.header.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.header .wrapper {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.header h1 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.12px;
  margin-inline: 1rem;
  background-color: transparent;
  cursor: pointer;
  outline-color: black;
}

.header h1.light-mode {
  color: black;
}

.header h1.dark-mode {
  color: white;
}

.header h1:hover,
.header h1:focus-visible,
.header .dark-mode-btn:hover,
.header .dark-mode-btn:focus-visible {
  filter: opacity(0.7);
}

.header h1:active,
.header .dark-mode-btn:active {
  filter: opacity(1);
}

.header .dark-mode-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline-color: black;
  background-color: transparent;
  cursor: pointer;
  margin-inline: 1rem;
  padding: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .dark-mode-btn.light-mode {
  color: black;
}

.header .dark-mode-btn.dark-mode {
  color: white;
}

.header .dark-mode-btn svg {
  margin-right: 0.5rem;
  fill: white;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 3.75rem 0.75rem 3.75rem 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }

  .header h1 {
    font-size: 28px;
  }

  .header .dark-mode-btn {
    font-size: 24px;
  }

  .header .dark-mode-btn svg {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 555px) {
  .header {
    padding: 2.5rem 0.5rem 2.5rem 0.75rem;
  }

  .header h1 {
    font-size: 20px;
  }

  .header .dark-mode-btn {
    font-size: 16px;
  }

  .header .dark-mode-btn svg {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}

@media screen and (max-width: 395px) {
  .header h1 {
    font-size: 18px;
  }

  .header .dark-mode-btn {
    font-size: 15px;
  }

  .header .dark-mode-btn svg {
    width: 17px;
    min-width: 17px;
    height: 17px;
    min-height: 17px;
  }
}
