.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.45rem 4rem 1.6rem;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.25);
  z-index: 2;
}

.header.light-mode {
  background-color: white;
  color: black;
}

.header.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.header h1 {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: -0.12px;
  margin-inline: 1rem;
}

.header .dark-mode-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-inline: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .dark-mode-btn.light-mode {
  color: black;
}

.header .dark-mode-btn.dark-mode {
  color: white;
}

.header .dark-mode-btn:hover,
.header .dark-mode-btn:focus-visible {
  text-decoration: underline;
}

.header .dark-mode-btn:active {
  text-decoration: none;
}

.header .dark-mode-btn svg {
  margin-right: 0.5rem;
  fill: white;
}
