.flag-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 5rem 2.75rem;
}

.flag-page.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.flag-page.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

@media screen and (max-width: 767px) {
  .flag-page {
    padding: 0 2rem 4.75rem;
  }
}
