.flag-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 5rem 2.75rem;
}

.flag-page.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.flag-page.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

.flag-page .scroll-threshold {
  width: 100%;
  height: 0px;
  background-color: transparent;
  position: relative;
  bottom: 45rem;
  width: "100%";
}

@media screen and (max-width: 767px) {
  .flag-page {
    padding: 0 2rem 4.75rem;
  }

  .flag-page .scroll-threshold {
    bottom: 230rem;
  }
}

@media screen and (max-width: 555px) {
  .flag-page {
    padding: 0 1.5rem 3.5rem;
  }
}
