.flag-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0 5rem 2.75rem;
}

.flag-page .wrapper {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  background-color: transparent;
}

.flag-page.light-mode {
  background-color: hsl(0, 0%, 98%);
}

.flag-page.dark-mode {
  background-color: hsl(207, 26%, 17%);
}

@media screen and (max-width: 767px) {
  .flag-page {
    padding: 0 2rem 4.75rem;
  }
}

@media screen and (max-width: 555px) {
  .flag-page {
    padding: 0 1.5rem 3.5rem;
  }
}
