.flag-page .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.9rem 0;
}

@media screen and (max-width: 767px) {
  .flag-page .input-container {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 2.9rem 0 3.85rem;
  }
}
