.flag-detail-page .back-button-wrapper {
  width: 100%;
  max-width: 1920px;
  margin-inline: auto;
  background-color: transparent;
}

.flag-detail-page .back-button-link:any-link {
  display: block;
  width: min-content;
  text-decoration: none;
  margin-bottom: 5rem;
}

.flag-detail-page .back-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.45rem 2.45rem 0.5rem 1.85rem;
  outline-color: black;
  cursor: pointer;
  animation-name: backButtonOpacity;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.flag-detail-page .back-button.light-mode {
  color: black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.flag-detail-page .back-button.dark-mode {
  color: white;
  box-shadow: 0 0 5px 0 white;
}

@keyframes backButtonOpacity {
  0% {
    opacity: 0;
  }

  35% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flag-detail-page .back-button.light-mode:hover,
.flag-detail-page .back-button.light-mode:focus-visible {
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
}

.flag-detail-page .back-button.light-mode:active {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
}

.flag-detail-page .back-button.dark-mode:hover,
.flag-detail-page .back-button.dark-mode:focus-visible {
  background-color: rgba(255, 255, 255, 0.025);
}

.flag-detail-page .back-button.dark-mode:active {
  background-color: rgba(255, 255, 255, 0.075);
}

.flag-detail-page .back-button svg {
  width: 25px;
  height: auto;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1365px) {
  .flag-detail-page .back-button-link:any-link {
    margin-bottom: 8rem;
  }

  .flag-detail-page .back-button {
    font-size: 28px;
    padding: 0.65rem 3rem 0.6rem 2.8rem;
  }

  .flag-detail-page .back-button svg {
    width: 45px;
    margin-right: 0.65rem;
  }
}

@media screen and (max-width: 555px) {
  .flag-detail-page .back-button-link:any-link {
    margin-bottom: 2.25rem;
  }

  .flag-detail-page .back-button {
    font-size: 18px;
    padding: 0.45rem 2rem 0.4rem 1.8rem;
  }

  .flag-detail-page .back-button svg {
    width: 22px;
    margin-right: 0.5rem;
  }
}
