.flag-detail-page .back-button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  padding: 0.45rem 2.45rem 0.5rem 1.85rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  margin-top: 2.05rem;
  margin-bottom: 5rem;
  cursor: pointer;
}

.flag-detail-page .back-button:hover,
.flag-detail-page .back-button:focus-visible {
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.25);
}

.flag-detail-page .back-button:active {
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.5);
}

.flag-detail-page .back-button svg {
  width: 25px;
  height: auto;
  margin-right: 0.5rem;
}
