.search-form {
  width: 100%;
  max-width: 480px;
  min-width: 250px;
  margin-right: 1.5rem;
}

.search-form label {
  position: absolute;
  left: -10000px;
}

.search-form div {
  position: relative;
}

.search-form div .s-input {
  width: 100%;
  font-family: inherit;
  font-size: 14.8px;
  border: none;
  border-radius: 5px;
  padding: 1.2rem 1.2rem 1.2rem 4.5rem;
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.search-form div .s-input.light-mode {
  background-color: white;
  color: black;
}

.search-form div .s-input.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.search-form div .s-input.light-mode::placeholder {
  color: #a9a9a9;
}

.search-form div .s-input.dark-mode::placeholder {
  color: white;
}

.search-form div svg {
  position: absolute;
  stroke-width: 8px;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.search-form div .icon.light-mode {
  fill: #a9a9a9;
}

.search-form div .icon.dark-mode {
  fill: white;
}

@media screen and (max-width: 767px) {
  .search-form {
    margin-right: 0px;
    max-width: none;
    margin-bottom: 5rem;
  }

  .search-form div .s-input {
    font-size: 24px;
    letter-spacing: 0.2px;
    border-radius: 8px;
    padding: 2.1rem 1.2rem 2rem 9.25rem;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
  }

  .search-form div svg {
    stroke-width: 6px;
    width: 35px;
    height: 35px;
    left: 4rem;
  }
}
