.card {
  width: 100%;
  height: 100%;
  max-width: 264px;
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.25);
  border-radius: 8px 8px 6px 6px;
}

.card.light-mode {
  background-color: white;
  color: black;
}

.card.dark-mode {
  background-color: hsl(209, 23%, 22%);
  color: white;
}

.card:hover,
.card:focus-visible {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.25);
}

.card:active {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.5);
}

.flag-container a:any-link {
  text-decoration: none;
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    max-width: 530px;
    border-radius: 14px 14px 11px 11px;
  }

  .flag-container a:any-link {
    border-radius: 11px;
  }
}

@media screen and (max-width: 555px) {
  .card {
    max-width: 430px;
  }
}
